{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "nodenext"
  },
  "isModule": true,
  "sourceMaps": true,
  "inlineSourcesContent": true,
}
